@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, sans-serif;
}

body {
  background: #f4f6f8;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.card {
  background: white;
  padding: 30px;
  width: 320px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
}

.card h1 {
  margin-bottom: 8px;
}

.card p {
  color: #555;
  margin-bottom: 20px;
}

.google-btn {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
 
}

.avatar {
  width: 90px;
  border-radius: 50%;
  margin-bottom: 12px;
}

.logout {
  margin-top: 16px;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  background: #ef4444;
  color: white;
  cursor: pointer;
}
/* ---------- SUCCESS POPUP OVERLAY ---------- */
.popup-overlay {
  position: fixed;
  inset: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
}

/* ---------- POPUP BOX ---------- */
.popup-box {
  width: 420px;
  min-height: 260px;
  background: #18181b; /* zinc-900 */
  color: white;
  padding: 40px 48px;
  border-radius: 24px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;

  animation: scaleIn 0.25s ease-out;
}

/* ---------- ICON ---------- */
.popup-icon {
  width: 48px;
  height: 48px;
  border-radius: 9999px;
  background: #7c3aed; /* purple-600 */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
}

/* ---------- BUTTON ---------- */
.popup-btn {
  padding: 10px 32px;
  border-radius: 16px;
  background: #7c3aed;
  font-weight: 600;
  transition: all 0.2s ease;
  color: white;
}

.popup-btn:hover {
  background: #6d28d9;
}

.popup-btn:active {
  transform: scale(0.95);
}

/* ---------- ANIMATION ---------- */
@keyframes scaleIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
